body {
  padding-top: 10%;
  background-image: url("sativa.png");
}

.form-login {
  max-width: 350px;
  padding: 40px;
  border-radius: 30px;
  background: #bbbbbb;
  margin: 0 auto;
  opacity: 0.9;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 20, 20);
  border-color: rgb(240, 20, 20);
}

.form-login .form-login-heading {
  color: rgb(240, 20, 20);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-login input[type="text"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login .forgot-password {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 30px;
}
